@font-face {
  font-family: ADC;
  src: font-url('ADC-Semi-Bold') format('opentype');
}
@font-face {
  font-family: Menoe;
  src: font-url('Menoe') format('truetype');
}
@font-face {
  font-family: Bodoni;
  src: font-url('Bodoni') format('truetype');
}
@font-face {
  font-family: Times;
  src: font-url('Times') format('truetype');
}
@font-face {
  font-family: Diagramatika;
  src: font-url('Diagramatika') format('truetype');
}
@font-face {
  font-family: Arial;
  src: font-url('Arial') format('truetype');
}
