:root {
  --white: #F6F8F7;
  --black: #3E3735;
  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --grey: #c5c5c5;
  --light-grey: #cfcfcf;
  --dark-green: #00ff29;
  --acid-green: #79ff39;
  --blue-white: #E4F1FE;
  --yellow: #EBC524;
  --pink: #ED8FB6;
  --orange: #ED8B3B;
  --blue: #7BAED6;
  --purple: #AA8DC2;
  --green: #97BD7E;
}
